@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "menuYfooter";

$color: rgba(0, 0, 0, 0.4);


@mixin color ($colores) {


       color: $colores;
       font-family: 'Anton', sans-serif;
       padding-top: 0;
       font-size: 20px;
       text-align: center;

}


.contactoFooter {

       @include color (white)
}


@mixin color ($colores) {

       background: $colores;
       height: 300px;
       max-width: 100%;
       text-align: center;

}


.imagenDeFondoDos {

       @include color (black)
}


h2 {
       color: yellow;
       font-family: 'Anton', sans-serif;
       font-size: 30px;
       text-align: center;
       background: black;
       font-weight: lighter;
       box-shadow: 5px 5px 10px grey;
       padding: 0;
       margin: 0;
}


.iconoContacto {

       padding-top: 20px;
       padding-bottom: 100px;

       .contactoGodoy {

              height: 80%;
              width: 80%;
              display: flex;
              padding-left: 18rem;
              padding-top: 50px;
              padding-bottom: 50px;

       }

}

.datosEstetica {

       font-family: 'Anton', sans-serif;
       font-weight: lighter;
       font-size: 25px;
       color: grey;
       padding-bottom: 100px;
       text-shadow: 0.5px 0.5px black;

       .iconoSocial {

              width: 40px;
              height: 40px;
              margin: 10px;

       }

}



.imagenDeEstetica {

       background-image: url(../imagenes/fondoOscuro.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       height: 650px;
       background-position: center;
       display: flex;
       justify-content: center;

       .tituloEsteticaGodoy {

              font-size: 80px;
              font-family: 'Anton', sans-serif;
              font-weight: lighter;
              color: white;
              padding-top: 3em;
       
       }

}


@media all and (max-width: 576px) {


       * {

              box-sizing: border-box;
              text-align: center;
              padding: 0;
              margin: 0;

       }

       .iconoContacto {

              display: flex;
              justify-content: center;

       }

       .contactoGodoy {

              padding: 0;
              margin: 0;
              width: 100%;
              height: 400px;

       }

       .navbar-toggler {

              background-color: rgba(255, 251, 4, 0.8);

       }

       .navbar-nav {

              padding-right: 80px;
              margin-left: 60px;
              background-color: $color;

       }

       .logoEstetica {

              width: 70%;

       }

       .iconoSocial {

              width: 40px;
              height: 40px;

       }

       .tituloEsteticaGodoy {

              font-size: 60px;

       }

}

@media all and (max-width: 786px) {


       * {

              box-sizing: border-box;
              text-align: center;
              padding: 0;
              margin: 0;

       }

       .iconoContacto {

              display: flex;
              justify-content: center;

       }

       .contactoGodoy {

              padding: 0;
              margin: 0;
              width: 90%;
              height: 90%;

       }


       .navbar-toggler {

              background-color: rgba(255, 251, 4, 0.8);

       }

       .navbar-nav {

              padding-right: 80px;
              margin-left: 60px;
              background-color: $color;

       }

       .nav-linkEstetica {

              padding-left: 100px;
              padding-right: 20px;

       }

       .iconoSocial {

              width: 40px;
              height: 40px;

       }

       .tituloEsteticaGodoy {

              font-size: 60px;

       }

}

@media all and (max-width: 411px) {

       .tituloEsteticaGodoy {

              font-size: 50px;

       }

       .logoEstetica {

              width: 100%;

       }

       .datosEstetica {

              font-size: 20px;

       }

       .iconoSocial {

              width: 30px;
              height: 30px;

       }

       .navbar-nav {

              padding-right: 80px;
              margin-left: 60px;
              background-color: $color;

       }

}


@media only screen and (min-width: 899px) and (max-width: 990px) {

       * {

              box-sizing: border-box;
              text-align: center;
              padding: 0;
              margin: 0;

       }

       .iconoContacto {

              display: flex;
              justify-content: center;

       }

       .contactoGodoy {

              padding: 0;
              margin: 0;
              width: 90%;
              height: 90%;

       }


       .navbar-toggler {

              background-color: rgba(255, 251, 4, 0.8);

       }

       .navbar-nav {

              padding-right: 80px;
              margin-left: 60px;
              background-color: $color;

       }

       .nav-linkEstetica {

              padding-left: 100px;
              padding-right: 20px;

       }

       .iconoSocial {

              width: 40px;
              height: 40px;

       }

       .tituloEsteticaGodoy {

              font-size: 70px;

       }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

       .navbar-light .navbar-nav .nav-link {

              font-family: 'Anton', sans-serif;
              color: white;
              padding-left: 25px;
              font-size: 20px;

       }

       .tituloEsteticaGodoy {

              font-size: 70px;

       }

       .contactoGodoy {

              padding: 0;
              margin: 0;
              width: 80%;
              height: 80%;

       }

       .iconoContacto {

              display: flex;
              justify-content: center;

       }

}