@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$listas: red,
blue,
green,
grey;

$primario: nth($listas, 4);



@mixin bloque ($espacio) {}

.secundario__imagen {

       @include bloque(700px)
}


$listas: red,
blue,
#fff5eb,
black;

$primario: nth($listas, 3);




@mixin tamaño ($size) {}


.tituloEstetica {

       @include tamaño(30px)
}



.navegador {

       background: rgba(0, 0, 0, 0.4);
       padding: 0;
       height: 80px;
       width: 100%;
       position: fixed;
       top: 0;
       display: flex;
       flex-wrap: wrap;
       z-index: 1;

}