@import "menuYfooter";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$color: rgba(0, 0, 0, 0.4);
$colorT: rgba(255, 251, 4, 0.8);


h2 {
  color: yellow;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  text-align: center;
  background: black;
  font-weight: lighter;
  box-shadow: 5px 5px 10px grey;
  padding: 0;
  margin: 0;
}

.principalGodoy {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;

}

.secundarioEstetica {

  padding-top: 100px;
  padding-bottom: 100px;

}

.secundario__imagen {

  width: 390px;
  height: 225px;
  box-shadow: 5px 5px 10px grey;
  transition: all 0.8s;
  display: flex;
  flex-wrap: wrap;

}

.secundario__imagen:hover {

  transform: scale(1.1);

}

p {

  text-align: center;
  padding-top: 30px;
  color: grey;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  text-shadow: 0.5px 0.5px black;

}


.imagenDeEstetica {

  background-image: url(../imagenes/fondoOscuro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  background-position: center;
  display: flex;
  justify-content: center;

}

.tituloEsteticaGodoy {

  font-size: 80px;
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  color: white;
  padding-top: 3em;

}



@media all and (max-width: 576px) {

  * {

    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;

  }


  .navbar-toggler {

    background-color: $colorT;

  }

  .navbar-nav {

    padding-right: 80px;
    margin-left: 60px;
    background-color: $color;

  }

  .tituloEsteticaGodoy {

    font-size: 60px;

  }

  .logoEstetica {

    width: 70%;

  }

  .secundario__imagen {

    width: 390px;
    height: 225px;

  }


}

@media all and (max-width: 786px) {

  * {

    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;

  }

  .navbar-toggler {

    background-color: $colorT;

  }

  .navbar-nav {

    padding-right: 80px;
    margin-left: 60px;
    background-color: $color;

  }

  .nav-linkEstetica {

    padding-left: 100px;
    padding-right: 20px;

  }

  .tituloEsteticaGodoy {

    font-size: 60px;

  }

  .secundario__imagen {

    width: 410px;
    height: 250px;

  }

}

@media all and (max-width: 411px) {

  .navbar-toggler {

    background-color: $colorT;

  }


  .secundario__imagen {

    width: 300px;
    height: 180px;

  }

  .logoEstetica {

    width: 100%;

  }

  .tituloEsteticaGodoy {

    font-size: 50px;

  }

  .navbar-nav {

    padding-right: 80px;
    margin-left: 60px;
    background-color: $color;

  }

}


@media only screen and (min-width: 899px) and (max-width: 990px) {

  * {

    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;

  }

  .navbar-toggler {

    background-color: $colorT;

  }

  .navbar-nav {

    padding-right: 80px;
    margin-left: 60px;
    background-color: $color;

  }

  .nav-linkEstetica {

    padding-left: 100px;
    padding-right: 20px;

  }

  .tituloEsteticaGodoy {

    font-size: 70px;

  }

  .secundario__imagen {

    width: 280px;
    height: 180px;

  }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .navbar-light .navbar-nav .nav-link {

    font-family: 'Anton', sans-serif;
    color: white;
    padding-left: 25px;
    font-size: 20px;

  }

  .tituloEsteticaGodoy {

    font-size: 70px;

  }

  .secundario__imagen {

    width: 280px;
    height: 180px;

  }

}